/* 自定义 Textarea 滚动条样式 */
.textarea-custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.textarea-custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.textarea-custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 9999px;
  transition: background-color 0.2s;
}

.textarea-custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.textarea-custom-scrollbar::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-thumb-active);
}
